<h1>Articles#index</h1>
<h1>All the Articles</h1>

<p><%= link_to "Add an article", new_article_path %></p>

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %> (<%= article.content[0..100] %>)</li>
  <% end %>
</ul>

